@font-face {
    font-family: "ProductSans";
    src: local("ProductSans"), url("/fonts/productSans/ProductSansRegular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "ProductSansBold";
    src: local("ProductSansBold"), url("/fonts/productSans/ProductSansBold.ttf") format("truetype");
}

body {
    font-family: "ProductSans" !important;
    user-select: none;
}

body:focus {
    outline: none; 
}

.product_sans_bold {
    font-family: "ProductSansBold" !important;
}

/* Ripple effect */
.ripple_effect {
    background-position: center;
    transition: background 0.8s;
}
.ripple_effect:hover {
    background:  radial-gradient(circle, transparent 1%, #47a7f51c 1%) center/15000%;
}
.ripple_effect:active {
    background-color: #3c40433d;
    background-size: 100%;
    transition: background 0s;
}
