.custom{
    height: 111px;
    position: relative;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}


.background-graphics{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 90px;
    height: 91px;
    opacity: 0.77;
    background-image: linear-gradient(to bottom, #4338ca, #3b82f6);
  }


  .custom-width-para-text{
      width: 240px;
  }