@font-face {
    font-family: "ProductSans";
    src: local("ProductSans"), url("./assets/fonts/productSans/Product\ Sans\ Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "ProductSansBold";
    src: local("ProductSansBold"), url("./assets/fonts/productSans/Product\ Sans\ Bold.ttf") format("truetype");
}

body{
    font-family: "ProductSans" !important;
}

.PRODUCT-SANS-BOLD{
    font-family: "ProductSansBold" !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

