.close-dropdown {
  width: 100vh;
  height: 100vh;
  z-index: -5;
}

.drop-open{
    background-color: #fff;
    padding: 10px;
    margin-top:10px;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 12px;
}
.drop-main{
    display: flex;
    align-items: center;
    gap: 10px;
}