.input-field {
  width: 80%;
}
.close-dropdown {
  width: 100vw;
  margin-left: -20px;
  height: 100vh;
  z-index: -5;
}

.drop-open {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 15px;
  margin-top: 10px;
  border: solid 1px rgb(235, 235, 235);
  border-radius: 12px;
  max-height: 70vh;
  overflow-y: auto;
}
/* ! Dropdown scrollbar des */
.drop-open::-webkit-scrollbar {
  width: 10px;
}
.drop-open::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(59, 131, 246, 0);
}
/* ! Dropdown scrollbar des !!!END!!! */
.drop-main {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hide-create-btn {
  display: none;
}
.show-create-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  border-radius: 8px;
  border: solid rgba(229, 231, 235) 1px;
  transition: 0.2s;
}
.show-create-btn:active {
  transform: scale(0.9);
}
.hide-create-div {
  display: none;
}
.show-create-div {
  display: flex;

  justify-content: center;
  padding-bottom: 5px;
}
